<%- include("header") -%>
    <h3>Secret Santa</h3>

    <h1>Register</h1>
    <form class="" action="/register" method="post">
        <label for="">User Name : </label>
        <input type="" name="username" value="" placeholder="User Name" required autofocus autocomplete="off">
        <br />
        <label for="">Email : </label>
        <input type="email" name="email" value="" placeholder="Email" required autocomplete="off">

      <br />
        <label for="">Password : </label>
        <input type="password" name="password" value="" placeholder="Password" required autocomplete="off">


      <button type="submit" name="submit">Register!</button>


    </form>
    <div class="JoinBottom">
      <span>Already a user? </span><a class="red" href="/login">Login!</a>

    </div>
<%- include("footer") -%>
