<%- include("header") -%>

  <h3>Secret Santa</h3>

<h1 class="heading">Log in</h1>
<form class="" action="/login" method="post">
  <div>
    <input class="top" type="email" name="email" value="" placeholder="Email" required autofocus autocomplete="off">
  </div>
  <div>
    <input class="bottom" type="password" name="password" value="" placeholder="Password" required autocomplete="off">
  </div>

  <button type="submit" name="submit">Login!</button>
</form>
<div class="JoinBottom">
  <span>Don't have an account? </span><a class="red" href="/register">Register!</a>
</div>




<%- include("footer") -%>
