<%- include("header") -%>

<h1>Secret Santa</h1>
<h3> <%= name %>  </h3>

<button><a href='/createGroup'>New Group</a></button>
<button><a href='/yourGroup'>Your Groups</a></button>
<button><a href='/joinGroup'>Join Group</a></button>

<br>
<button><a href='/'>Logout</a></button>

<%- include("footer") -%>
