<%- include("header") -%>

<h1>Join Group</h1>
<form class="" action="/joinGroup" method="post">
  <label for="">Unique id of group : </label>
  <input type="text" name="uniqueid" value="" placeholder="unique id">
  <button type="submit">Submit</button>
</form>
<br />
<button><a class="bold"  href="/start">back</a></button>

<%- include("footer") -%>
