<%- include("header") -%>

<h1> <span class="user">user | </span> <%= name %>  </h1>
<br />
<button class="round"><a class="bold" href='/profile'>Your profile</a></button>
<br>
<form class="" action="" method="">
  <button class="blue"><a  href='/createGroup'>New Group</a></button>
  <button class="blue"><a  href='/yourGroup'>Your Groups</a></button>
  <button class="blue"><a  href='/joinGroup'>Join Group</a></button>

</form>

<br>

<button class="round"><a class="bold" href='/'>Logout</a></button>

<%- include("footer") -%>
