<%- include("header") -%>

<form class="" action="/yourGroupInfo" method="post">


<%  for(let i=0; i<groups.length; i++){  %>
<div class="">

    <label><%= groups[i].name %></label>
    <button type="submit" name="requestId" value= <%= groups[i].id %>  >Check</button>

</div>
<%  }  %>
</form>


<br />
<button><a href="/start">back</a></button>

<%- include("footer") -%>
