<%- include("header") -%>

<form class="" action="/yourGroupInfo" method="post">


<%  for(let i=0; i<groups.length; i++){  %>
<div class="">

    <label><%= groups[i] %></label>
    <button type="submit" name="list" value= <%= groups[i] %>  >Check</button>

</div>
<%  }  %>
</form>
s

<br />
<button><a href="/start">back</a></button>

<%- include("footer") -%>
