<%- include("header") -%>
<h1>Your Groups</h1>
<% if(groups.length==0) { %>
      <p>You're not in any groups!</p>
      <form class="" action="index.html" method="">
        <button class="blue"><a href='/createGroup'>New Group</a></button>
        <button class="blue"><a href='/joinGroup'>Join Group</a></button>
      </form>
<%   }else{   %>

<form class="" action="/yourGroupInfo" method="post">


<%  for(let i=0; i<groups.length; i++){  %>
<div class="">

    <label ><%= groups[i].name %></label>
    <button class="blue less" type="submit" name="requestId" value= <%= groups[i].id %>  >Check</button>

    <% if(i != groups.length-1) { %>
      <hr class="line" />
    <%   }   %>



</div>
<%  }  %>
</form>
<%   }  %>


<br />
<button><a class="bold"  href="/start">back</a></button>

<%- include("footer") -%>
