<%- include("header") -%>

<h1>Invite</h1>

<form class="" action="/yourGroupInfo/invite/person" method="post">
  <div>
    <input type="text" name="username" placeholder="Username" autocomplete="off">
    <button type="submit" name="id" value=<%= id %>>Invite</button>
  </div>
  <label for="">or</label>
  <div>
    <input type="email" name="email" placeholder="email" autocomplete="off">
    <button type="submit" name="id" value=<%= id %>>Invite</button>
  </div>


</form>


<br />
<button><a href="/yourGroup">back</a></button>

<%- include("footer") -%>
